$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$web-font: url("//fonts.googleapis.com/css?family=Lato:300,400,700");
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootswatch-scss/superhero/_bootswatch.scss";
@import "bootswatch-scss/superhero/_variables.scss";
// endbower

body, .breadcrumb {
	background: #333;
	color: white;
}

