$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
$web-font: url("//fonts.googleapis.com/css?family=Lato:300,400,700");
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bootswatch-scss/superhero/_bootswatch.scss";
@import "bootswatch-scss/superhero/_variables.scss";
// endbower
$header-height: 50px;

html, body, div.uiview, div.wrap {
	height: 100%;
	margin: 0;
	overflow: hidden;
}
body {
	background: #222;
	color: white;
}
div[contenteditable="true"] {
	border: 1px dotted white;
	min-width: 50px;
	min-height: 1.6em;
}
.no-margin {
	margin: 0;
}
.table {
	font-size: inherit;
}
.modal-header, .modal-footer {
	background: #444;
}
.modal-content {
	background: #333;
}
select {
	color: black;
	max-width: 100%;
}
input.form-control {
	height: 28px;
}
.input-group .btn {
	padding: 3px 12px;
}

#login {
	margin-top: 100px;
}
.logout {
	padding: 14px;
}

.head {
	position: absolute;
	width: 100%;
	z-index: 10;
	height: $header-height;
	background: #444;
	h3 {
		margin: 10px 0;
	}
	.breadcrumb {
		background: #444;
		margin: 5px 0;
		li {
			margin-right: 5px;
		}
	}
}

.content {
	padding: 0;
	padding-top: $header-height;
	height: 100%;
	.left-menu {
		background: #333;
		height: 100%;
		padding: 0;
		overflow-y: auto;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		.tree {
			overflow-y: auto;
		}
		.node {
			padding: 5px 8px;
			border: 1px solid #111;
			cursor: pointer;
		}
	}
	.detail {
		overflow-y: auto;
		height: 100%;
		padding: 40px;
		.value-table > div {
			min-height: 25px;
		}
		.attr, .value {
			display: inline-block;
		}
	}
	.control-panel {
		padding: 0;
		height: 100%;
		background: #333;
	}
}

.control, .control:hover, .control:visited, .control:active {
	border: 1px solid #111;
	text-align: center;
	padding: 5px;
	background: #222;
	display: block;
	color: white;
	cursor: pointer;
}

.context-control .control {
	display: inline-block;
}
