<div class="row context-control" ng-if="selected">
	<div class="control" ng-click="toggleEdit();">
		<span class="fa fa-2x fa-edit"></span>
	</div>
	<div class="control" ng-click="selected.state=states[selected.type].slice(-1)[0];update(selected)">
		<span class="fa fa-2x fa-check"></span>
	</div>
	<div class="control" ng-click="remove(selected)">
		<span class="fa fa-2x fa-trash"></span>
	</div>
</div>
<div class="row" ng-if="selected">
	<div class="col-xs-12">
		<button type="button" ng-if="editable" class="btn pull-right btn-danger" ng-click="cancelEdit();toggleEdit()"><span class="fa fa-cancel">Cancel</span></button>
		<button type="button" ng-if="editable" class="btn pull-right btn-success" ng-click="update(selected);toggleEdit()"><span class="fa fa-save"> Save</span></button>
		<h3>
			<div class="value" contenteditable="{{editable?'true':'false'}}" ng-model="selected.title"></div>
		</h3>
	</div>
</div>
<div class="value-table row" ng-if="selected">
	<div class="col-xs-12 col-sm-6">
		<div class="attr">Description:</div>
		<div class="value" contenteditable="{{editable?'true':'false'}}" ng-model="selected.description"></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="attr">Creator:</div>
		<div class="value">{{ selected.creator }}</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="attr">Owner:</div>
		<div class="value" contenteditable="{{editable?'true':'false'}}" ng-model="selected.owner"></div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="attr">ID:</div>
		<div class="value">{{ selected.id }}</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="attr">Parent project:</div>
		<div class="value" ng-if="!editable">{{ selected.project.title || 'root' }}</div>
		<select ng-if="editable" ng-model="selected.project" ng-options="project.title for project in projects track by project.id">
		</select>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="attr">State:</div>
		<div class="value" ng-if="!editable">{{ selected.state.title }}</div>
		<select ng-if="editable" ng-model="selected.state" ng-options="state.title for state in states[selected.type] track by state.id">
		</select>
	</div>
	<div ng-if="selected.state.id===14" class="col-xs-12 col-sm-6">
		<div>Calendar:</div>

		<div class="attr">From:</div>
		<span class="input-group">
			<input type="text" class="form-control" ng-readonly="!editable" datepicker-popup="dd.MM.yyyy" ng-model="selected.calendar.from" is-open="helper.fromOpened" close-text="Close" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="editable && helper.fromToggle($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</span>
		<timepicker ng-model="selected.calendar.from" ng-change="changed()" show-meridian="false" readonly-input="editable?'true':'false'"></timepicker>

		<div class="attr">To:</div>
		<span class="input-group">
			<input type="text" class="form-control" ng-readonly="!editable" datepicker-popup="dd.MM.yyyy" ng-model="selected.calendar.to" is-open="helper.toOpened" close-text="Close" />
			<span class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="editable && helper.toToggle($event)"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</span>
		<timepicker ng-model="selected.calendar.to" ng-change="changed()" show-meridian="false" readonly-input="editable?'true':'false'"></timepicker>
	</div>
	<div class="col-xs-12 col-sm-6" ng-show="selected.context || editable">
		<div class="attr">Context:</div>
		<div class="value" ng-if="!editable">{{ selected.context.title }}</div>
		<select ng-if="editable" ng-model="selected.context" ng-options="context.title for context in contexts track by context.id">
		</select>
	</div>
</div>
