<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<h3>GTD</h3>
		</div>
		<div class="col-xs-9">
			<ol class="breadcrumb">
				<li><a href="#">All</a></li>
				<li><a href="#">Project #1</a></li>
				<li class="active">Task #1</li>
			</ol>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<div class="action-menu">
				<div ng-repeat="node in tree">
					{{ node.title }}
				</div>
			</div>
		</div>
		<div class="col-xs-8">
		</div>
		<div class="col-xs-1">
		</div>
	</div>
</div>
