<div class="container-fluid wrap">
	<div class="row head">
		<div class="col-xs-2 logo">
			<h3>GTD</h3>
		</div>
		<div class="col-xs-10 brcrumb">
			<ol class="breadcrumb">
				<li><a href="#">All</a></li>
				<li><a href="#">Project #1</a></li>
				<li class="active">Task #1</li>
			</ol>
		</div>
	</div>
	<div class="row content">
		<div class="col-xs-2 left-menu">
			<div class="tree" ng-include="'views/treeview.html'">
			</div>
			<div class="control" ng-click="create.node=selected;create.choose()">
				<span class="fa fa-2x fa-plus"></span>
			</div>
		</div>
		<div class="col-xs-9 detail">
			<div class="row" ng-if="!selected">
				<div class="col-xs-12">
					Informační systém pro základní skupinové plánování inspirovaný metodikou GTD.
					Uživatel zpracuje své činnosti do podoby úkolů a projektů. Které mu systém poté umožňuje spravovat.
					Oproti GTD je přidána kooperativní složka. Uživatelům je tak umožněno si za určitých podmínek předávat úkoly a projekty.
				</div>
			</div>
			<div class="row" ng-if="selected">
				<div class="col-xs-12">
					<h3>
					{{ selected.title }}
					</h3>
				</div>
			</div>
			<div class="row" ng-if="selected">
				<div class="col-xs-12 col-sm-6">
					Description: {{ selected.description }}
				</div>
				<div class="col-xs-12 col-sm-6">
					Creator: {{ selected.creator }}
				</div>
				<div class="col-xs-12 col-sm-6">
					Owner: {{ selected.owner }}
				</div>
				<div class="col-xs-12 col-sm-6">
					ID: {{ selected.id }}
				</div>
				<div class="col-xs-12 col-sm-6">
					State: {{ selected.state.title }}
				</div>
			</div>
		</div>
		<div class="col-xs-1 control-panel">
			<div ng-if="selected">
				<div class="control" ng-click="editable=true">
					<span class="fa fa-2x fa-edit"></span>
				</div>
				<div class="control" ng-click="complete(selected)">
					<span class="fa fa-2x fa-check"></span>
				</div>
				<div class="control" ng-click="remove(selected)">
					<span class="fa fa-2x fa-trash"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="chooseAction" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<form name="form">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Choose Action</h4>
			</div>
			<div class="modal-body">
				<div class="chooser" ng-if="!create.type">
					<div class="option" ng-click="create.type='project'">
						<span class="fa fa-2x fa-folder"></span>
						Create project
					</div>
					<div class="option" ng-click="create.type='task'">
						<span class="fa fa-2x fa-check"></span>
						Create task
					</div>
				</div>
				<div class="form-create" ng-if="create.type">
					<div class="row">
						<div class="col-xs-12">
							<span class="label">Title: </span>
							<input type="text" ng-model="create.data.title">
						</div>
						<div class="col-xs-12">
							<span class="label">Description: </span>
							<input type="text" ng-model="create.data.description">
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-success" ng-click="create.send()" ng-if="create.type">Create</button>
			</div>
			</form>
		</div>
	</div>
</div>
