<div ng-repeat-start="node in projects | parentFilter:parentId | doneFilter:doneFilter | contextFilter:contexts" ng-dblclick="node.visible=!node.visible" ng-click="select(node)" class="node" style="padding-left:{{getBreadcrumb(node).length*10}}px">
	<span ng-class="'fa fa-folder'+((node.state.id===11)?'':'-open')+((projects.concat(tasks) | parentFilter:node.id).length?'':'-o')"></span>
	{{ node.title }}
</div>
<div ng-if="node.visible" ng-repeat-end class="tree" ng-include="'views/treeview.html'" onload="parentId=node.id" class="indent">
</div>
<div ng-repeat="node in tasks | parentFilter:parentId | doneFilter:doneFilter | contextFilter:contexts" ng-click="select(node)" class="node" style="padding-left:{{getBreadcrumb(node).length*10}}px">
	<span class="fa fa-square-o" ng-show="node.state.id!==15"></span>
	<span class="fa fa-check-square-o" ng-show="node.state.id===15"></span>
	{{ node.title }}
</div>
